:root {
    --primary: #800080;
    --secondary: rgb (0 255 0);
}
body {
    font-size: 36px;
}

header {
    font-size: 60px;
    background-color: var(--primary);
    display: flex;
    font-family: 'Anek Malayalam', sans-serif;
    color:azure;
    justify-content: flex-end;
}

header p {
    font-size: 40px;
    border: 10px var(--secondary);
}