:root {
    --primary: #800080;
    --secondary: rgb (0 255 0);
}
body {
    font-size: 36px;
}

header {
    font-size: 60px;
    background-color: grey;
    font-family: 'Anek Malayalam', sans-serif;
    color:azure;
}

header h1{
    font-size: 50px;
    background-color: var(--primary);
    display: inline;
}

header p {
    font-size: 40px;
}

header li {
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
}